<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.senai.cantinaagil">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.CantinaAgil">
        <activity
            android:name=".CadastroProdutoActivity"
            android:exported="false" />
        <activity
            android:name=".GerenciarProdutosActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CardapioActivity"
            android:exported="false" />
        <activity
            android:name=".CarrinhoActivity"
            android:exported="false" />
        <activity
            android:name=".PagamentoActivity"
            android:exported="false" />
        <activity
            android:name=".SucessoActivity"
            android:exported="false" />
    </application>

</manifest>